body {
  font-family: sans-serif;
  margin: 0;
  a {
    text-decoration: none;
  }
  label {
    display: block;
  }
  nav a {
    display: inline-block;
    margin: 1em;
  }
  form div {
    margin: 1em;
    display: inline-block;
  }
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
